.item-count-number {
    text-align: center;
    max-width: 50px;
}
.card {
    &.item {
        margin-bottom: 20px;
    }
}

.card-header {
    min-height: 306px;
    background-color: transparent;
}
